<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h3></h3>

    <div id="dynamic-component-demo">
      <button
        v-for="tab in tabs"
        v-bind:key="tab"
        v-bind:class="['tab-button', { active: currentTab === tab }]"
        v-on:click="currentTab = tab"
      >
        {{ tab }}
      </button>

      <keep-alive>
        <component v-bind:is="currentTabComponent" class="tab"></component>
      </keep-alive>
    </div>
    <script>
      Vue.component("tab-posts", {
        data: function () {
          return {
            posts: [
              {
                id: 1,
                title: "Cat Ipsum",
                content: "<p>first content </p>",
              },
              {
                id: 2,
                title: "Hipster Ipsum",
                content: "<p>second content </p>",
              },
              {
                id: 3,
                title: "Cupcake Ipsum",
                content: "<p>third content </p>",
              },
            ],
            selectedPost: null,
          };
        },
        template: `
  	<div class="posts-tab">
      <ul class="posts-sidebar">
        <li
          v-for="post in posts"
          v-bind:key="post.id"
          v-bind:class="{ selected: post === selectedPost }"
					v-on:click="selectedPost = post"
        >
          {{ post.title }}
        </li>
      </ul>
      <div class="selected-post-container">
      	<div 
        	v-if="selectedPost"
          class="selected-post"
        >
          <h3>{{ selectedPost.title }}</h3>
          <div v-html="selectedPost.content"></div>
        </div>
        <strong v-else>
          포스트 게시글을 클릭해 보세요. 클릭했던 포스트가 캐시되어 남아있습니다.
        </strong>
      </div>
    </div>
  `,
      });

      Vue.component("tab-archive", {
        template: "<div>Archive component</div>",
      });

      new Vue({
        el: "#dynamic-component-demo",
        data: {
          currentTab: "Posts",
          tabs: ["Posts", "Archive"],
        },
        computed: {
          currentTabComponent: function () {
            return "tab-" + this.currentTab.toLowerCase();
          },
        },
      });
    </script>
  </body>
</html>
